{% extends 'store/main.html' %}
{% block content %}
<div class="row">
    <div class="col-lg-6 offset-lg-3">
        <div class="box-element">
            <h3>Register</h3>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success bg-dark">Register</button>
            </form>
            <p>Already have an account? <a href="{% url 'login' %}">Login here</a></p>
        </div>
    </div>
</div>
{% endblock content %}