{% extends 'store/main.html' %}
{% load static %}
{% block content %}
     
     <div class="row">
          {% for product in products %}
          <div class="col-lg-4" style="margin-bottom: 20px;">
               <img class="thumbnail" src="{{product.imageURL}}" alt="product image">
               <div class="box-element product">
                    <h6><strong>{{product.name}}</strong></h6>
                    <hr>
                    <button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to cart</button>
                    <a class="btn btn-outline-success bg-dark" href="{% url 'product_detail' product.id %}">View</a>
                    <h4 style="display: inline-block; float: right;"><strong>${{product.price|floatformat:2}}</strong></h4>
               </div>
          </div>
          {% endfor %}
     </div>
     
{% endblock content %}

{% block footer %}

     <footer class="bg-dark text-white text-center py-2 mt-4 container-fluid">
          <p>&copy; 2025 E-Commerce. - All rights reserved. - Created by Alex Dognini</p>
          <p>
          <a href="#" class="text-white mx-2">Privacy Policy</a> |
          <a href="#" class="text-white mx-2">Terms of Service</a> |
          <a href="#" class="text-white mx-2">Contact Us</a>
          </p>
     </footer>
        
{% endblock footer %}